body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
    background-color: #efeeee;
    
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

div#container{
    width: 960px;
    margin: 0 auto;
    padding: 2%;

    -webkit-box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
}

div#concurentie{
    width: 960px;
    margin: 0 auto;
    padding: 2%;

    -webkit-box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
}

div#scenario{
    width: 960px;
    margin: 0 auto;
    padding: 2%;

    -webkit-box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
}

div#intro{
    width: 960px;
    margin: 0 auto;
    padding: 2%;

    -webkit-box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
box-shadow: 3px 3px 41px -7px rgba(0,0,0,0.75);
}

/* Digital styleguide css */

nav{
    background-color: #557f53;
    border-radius: 4rem;
    padding: 0.1%;
    width: 60%;
    margin: 0 auto;
    
}

nav li{
    display: inline;
    padding-left: 7%;
}

nav li a{
    color: white;
    text-decoration: none;
}

nav li a:hover{
    color: #aaffa5;
    transition: .4s ease-in-out;
}

header h1{
    text-align: center;

}

/*typografie*/

li#light{
    font-weight: lighter;
}

li#black{
    font-weight: bolder;
}

p#bodytekst{
    width: 40%;
}

div.pad{
    padding: 2%;
    color: white;
    width: 30%;
}

div#een{
    background-color: #4dcc47;
}

div#twee{
    background-color: #557f53;
}

div#drie{
    background-color: #61ff59;
}

div#vier{
    background-color: #aaffa5;
}

div#vijf{
    background-color: #52d84b;
}

div#zes{
    background-color: #efeeee;
    color: black;
}

div#zeven{
    background-color: #F03434;
}

.titel{
    font-family: 'Muli', sans-serif;
    border-bottom: solid 2px #557f53;
      display: inline;
      padding-bottom: 1px;
    color: #557f53;
    font-weight: bolder;
}

ul#titel li{
    list-style-type: none;
    margin-top: 2%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

button#normal{
    border: none;
    background-color: #557f53;
    padding: 1%;
    color: white;
    border-radius: 40rem;
    font-size: 0.8em;
}

button#hover{
    border: none;
    background-color: #557f53;
    padding: 1%;
    color: white;
    border-radius: 40rem;
    font-size: 0.8em;
}

button#hover:hover{
    color: #aaffa5;
    transition: .4s ease-in-out;
}

footer{
    background-color: #557f53;
    padding: 1%;
    text-align: center;
    margin-top: 5%;
    border-radius: 40rem;
    color: white;
}

p.alinea_conc{
    background-color: #557f53;
    border-radius: 5px;
    padding: 1%;
    color: white;
}