body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
    background-color: #efeeee;
    
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

/* Digital styleguide css */

nav{
    background-color: #557f53;
    border-radius: 4rem;
    padding: 1px;
    width: 50%;
    margin: 0 auto;
    
}

nav li{
    display: inline;
    padding-left: 9%;
}

nav li a{
    color: white;
    text-decoration: none;
}

nav li a:hover{
    color: #aaffa5;
    transition: .4s ease-in-out;
}

header h1{
    text-align: center;

}

/*typografie*/

li#light{
    font-weight: lighter;
}

li#black{
    font-weight: bolder;
}

p#bodytekst{
    width: 40%;
}

div.pad{
    padding: 2%;
    color: white;
    width: 30%;
}

div#een{
    background-color: #4dcc47;
}

div#twee{
    background-color: #557f53;
}

div#drie{
    background-color: #61ff59;
}

div#vier{
    background-color: #aaffa5;
}

div#vijf{
    background-color: #52d84b;
}

div#zes{
    background-color: #efeeee;
    color: black;
}